.header{
    height: 34vw;
    margin: 30px auto;
    background: url(/header_img.png) no-repeat;
    position: relative;
    background-size: contain;
    animation: fade-in 3s;

    > .header-contents{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.5vw;
        max-width: 50%;
        bottom: 10%;
        left: 6vw;

        h2{
            font-size: max(4vw, 22px);
            color: #fff;
            font-weight: 800;
        }

        p{
            color: white;
            font-size: 1vw;
        }

        button{
            border: none;
            color: #747474;
            font-weight: 600;
            padding: 1vw 2.2vw;
            border-radius: 50px;
            font-size: max(13px, 1vw);
        }
    }

}

@media (max-width: 1050px){

    .header-contents{
        max-width: 45%;
    }
}

@media (max-width: 750px){

    .header-contents{
        max-width: 65%;
    }

    .header-contents p{
        display: none;
    }

    .header-contents button{
        padding: 2vw 4vw;
    }
}